<div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2>Sign-up/in</h2>
          <form role="form">
            <div class="row">
              <div class="col-md-12">
                <input class="form-control input-lg" name="emailAddress" type="email" placeholder="Email Address">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                &nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input class="form-control input-lg" name="name" type="text" placeholder="Name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input class="form-control input-lg" name="password" type="password" placeholder="Password">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="checkbox">
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <button class="btn btn-lg btn-primary" type="submit" disabled>Sign up</button>
              <button class="btn btn-lg btn-primary" type="submit" disabled>Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>