<div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2>Please Confirm</h2>
          <form role="form">
            <div class="row">
              <div class="col-md-12">
                <input class="form-control input-lg" name="name" type="text" value="<%= name %>" readonly required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input class="form-control input-lg" name="secret" type="text" placeholder="Confirmation Code">
              </div>
            </div>
            <!--
            <div class="row">
              <div class="col-md-12">
                &nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input class="form-control input-lg" name="name" type="text" placeholder="Name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input class="form-control input-lg" name="password" type="password" placeholder="Password">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="checkbox">
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
            </div>
            -->
            <div class="row">
              <div class="col-md-12">

              <button id="confirm" class="btn btn-lg btn-default " type="button" disabled>Cancel</button>
              <button id="confirm" class="btn btn-lg btn-default btn-primary" type="submit" disabled>Confirm</button>
              </div>
            </div>
          </form>
        </div>
      </div>