[submodule "scripts/github-markdown-toc"]
	path = scripts/github-markdown-toc
	url = https://github.com/ekalinin/github-markdown-toc.git
[submodule "packages/homebrew"]
	path = packages/homebrew
	url = https://github.com/brightdigit/homebrew-speculid.git
