label.header {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
}

label, text-field, button, navigation-item back-bar-button, navigation-bar *  {
    font-family: "Lato";
    font-weight: 200;
}

pixelate-config {
    parse-error-destination: console;
}

view.startScreens {
    background-color: #FFCB98;
}

text-field {
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 0px 8px;
}

view.form {
    background-color: transparent;
}

navigation-bar {
}
