label.header {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
}

label, text-field, button {
    font-family: "Lato";
    font-weight: 200;
}

pixelate-config {
    parse-error-destination: console;
}

view.startScreens {
    background-color: #FFCB98;
}

view view {
    background-color: transparent;
}

view.form {
    background-color: white;
}

view.form text-field {
    border: 
