<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.brightdigit.Speculid-Mac-Installer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.brightdigit.Speculid-Mac-Installer</string>
	<key>CFBundleShortVersionString</key>
	<string>$(DEFAULT_SEMVER_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(DEFAULT_BUNDLE_VERSION)</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "com.brightdigit.Speculid-Mac-App" and anchor apple generic and certificate leaf[subject.CN] = "Apple Development: Leo Dion (5VZ4KT69B9)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>
