OTHER_CFLAGS = $(inherited) -D_REENTRANT -I/usr/local/Cellar/librsvg/2.40.18/include/librsvg-2.0 -I/usr/local/Cellar/gdk-pixbuf/2.36.7/include/gdk-pixbuf-2.0 -I/usr/local/Cellar/libpng/1.6.30/include/libpng16 -I/usr/local/Cellar/cairo/1.14.10/include/cairo -I/usr/local/Cellar/glib/2.52.3/include/glib-2.0 -I/usr/local/Cellar/glib/2.52.3/lib/glib-2.0/include -I/usr/local/opt/gettext/include -I/usr/local/Cellar/pcre/8.41/include -I/usr/local/Cellar/pixman/0.34.0_1/include/pixman-1 -I/usr/local/Cellar/fontconfig/2.12.4/include -I/usr/local/opt/freetype/include/freetype2 -I/usr/local/Cellar/libpng/1.6.30/include/libpng16
OTHER_LDFLAGS = $(inherited) -L/usr/local/Cellar/librsvg/2.40.18/lib -L/usr/local/Cellar/glib/2.52.3/lib -L/usr/local/Cellar/gdk-pixbuf/2.36.7/lib -L/usr/local/Cellar/glib/2.52.3/lib -L/usr/local/opt/gettext/lib -L/usr/local/Cellar/cairo/1.14.10/lib -lrsvg-2 -lm -lgio-2.0 -lgdk_pixbuf-2.0 -lgobject-2.0 -lglib-2.0 -lintl -Wl,-framework -Wl,CoreFoundation -lcairo
