---
---

$header-bg-color: #F1F1F1 !default;
$header-bg-color-secondary: #F4F2F3 !default;
$header-heading-color: #333 !default;

@import url('https://fonts.googleapis.com/css?family=Khula:300,600,800');
@import "{{ site.theme }}";

strong {
  font-weight: 600;
}
.page-header {
  background-image: url(/images/background-1.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: top right; 
  background-repeat: no-repeat;
  @media screen and (max-width: 64em) {
    background-size: cover;
  }
  & > img {
    -webkit-filter: drop-shadow(5px 5px 2px #222);
    filter:         drop-shadow(5px 5px 2px #222); 
    width: 250px;
    height: 250px;
  }
  h2 {
    font-weight: 600;
    &.release-name {
      font-weight: 300;
      opacity: 0.6;
      padding: 0;
      margin: 0;
      font-size: 1.25em;
    }
  }
}

.cards {
	text-align: center;
  display: table;
  clear: both;
  width: 100%;

  .card {
    @media screen and (min-width: 42em) {
      display: table-cell; 
      padding: 1em; 
      width: 100%;
      &.half {
        width: 50%;
      } 
      &.whole {
      } 
      &.third {
        width: 33.33%;
        width: calc(100% / 3);
      }
    }
    p, ul {
      font-size: 0.75em;
    }
    ul {
      text-align: left;
      margin: 0 12%;
      @media screen and (min-width: 42em) {
        width: 500px;
        margin: 0 auto;
        font-size: 0.825em;
      }
      & > li {
        & > strong {
          &:after {
            content: " ";
            display: block;
          }
        }
      }
    }
  }
}

#markdown-toc {
  li > ul > li > ul > li > ul {
    display: none;
  }
  & > li:nth-child(-n+3) {
    display: none;
  }
  code, em {
    display: none;
  }
}

h1#speculid {
  display: none;
}

#introduction {
  display: none;
}

body, input, button {
  font-family: "Khula", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-header {
    .install {
      padding-bottom: 1em;
      & > h3 {
        margin-top: 0;
      }
      & > section {
        h4 {
          font-weight: 100;
        }
        margin-bottom: 1em;
        code {
          background-color: #000;
          padding: 1em;
          width: 100%;
          color: #FFF;
        }
      }
    }
  .signup-form-container {
    & > div {
      color: #333;
      font-size: 1.5em;
    }
    min-width: 250px;
    @media screen and (min-width: 42em) {
      width: 400px;
    }
    form {
      margin: -5px auto;
      display: table;
      & > div {
        display: table-row;
        & > input {
          display: table-cell;
          width: 100%;
          font-size: 1.25em;
          margin: 5px 0;
        }
      }
    }
  }
  a.btn.open-popup {
    padding: 8px 100px 0px;
    background-color: $body-link-color;
    color: #FFF;
    border: 1px transparentize($border-color, 0.5) solid;
    font-size: 1.5em;
    border-radius: 5px;
    font-weight: bold;
    img {
      height: 1em;
      margin: 10px;
    }
    span {
      margin-top: 10px;
      display: block;
      float: right;
    }
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}

.signup-form-container {
  display: table;
  .main-content > & {
    background-color: saturate($code-bg-color, 33%);
    border: 1px $border-color solid;
    border-radius: 5px;
    padding: 40px;
    width: 100%;
    form.signup-form {
      input {
        width: 250px;
        &[type="submit"] { 
          padding-left: 50px;
          padding-right: 50px;

        }
      }
    }
  }
  .page-header > & {
    margin: auto;
    & > .message {

      font-weight: 800;
      margin-top: 1em;

      &.visible,  &.failure {
        opacity: 0.8;
      }
      &.failure:before {
        content: "❗"
      }
      &.success.visible:before {
        content: "📩"
      }
    }
  }
  .message {
    display: table-row;
    & , &.success {
      visiblity: hidden;
      opacity: 0;
    }
    &.visible,  &.failure {
      visiblity: visible;
      opacity: 0.5;
    }
    &.failure {
      color: #F00;
    }
    &.success {
      color: $section-headings-color;
    }
  }
  form.signup-form {
    width: 100%;
    .row {
      display: flex;
      input {
        padding: 5px 10px;

      }
      .button-container > input {
        margin: 0;
        float: left;
        width: 300px;
        position: absolute;
        top: -1px;
        left: -1px;
        @media screen and (max-width: 64em) {
          width: 75%;
        }
      }
      .button-container {
        width: 100%;
        position: relative;
        & > :last-child {
          background-color: #FFF;
          float: right;
          width: 80px;
          padding: 6px;
          text-align: center;
          font-weight: 600;
          border-radius: 0px 5px 5px 0px;
          img {
            @media screen and (min-width: 64em) {
            float: left;
            margin-top: 3px;
            }
          }
          @media screen and (max-width: 64em) {
            width: 30%;
          }

        }
      }
      input, .button-container {
        margin: 10px;
        border-radius: 5px;
        border: 1px transparentize(#000, 0.8) solid;

        &[type="email"] {
          flex-grow: 1;
        }
        &[type="submit"] {
          background-color: darken($body-link-color, 10%);
          color: darken(#FFF, 15%);
          border-color: transparentize($border-color, 0.5);
          .main-content & {
            font-weight: bold;
          }
          .page-header > &, &:hover {
            color: #fff;
            background-color: $body-link-color;
          }
        }
      }
    }
  }
}

section.buttons {
  width: 400px;
  display: table;
  margin: auto;
  border-spacing:5px;
  .row {
    margin: 10px;
    width: 100%;
    display: table-row;
    .btn {
      display: table-cell;
                color: #fff;
                background-color: $body-link-color;
    }
  }
}

.main-content {
  .btn {
                color: #fff;
                background-color: $body-link-color;
    
  }
}

.readme-only {
  display: none;
}


.main-content a.html-only:first-child{
  display: none;
}

#exporting-svgs-section {
  header {
    text-align: center;
    p {
      margin: 0;
    }
    img.logo {
      width: 80px;
    }
    h3 {
      margin-top: 0;
      font-size: 2em;
      margin: auto;
    }
  }
  li > p:nth-child(2) {
    text-align: center;
    & > img {
      margin-left: -40px;
    }
  }
  header + p {
    margin-left: 40px;
    text-align: center;
    & > img {
      margin-left: -40px;
    }
  }
  img {
    border: 8px solid #333;
    border-radius: 8px;
    &.logo {
      border: none;
      border-radius: 0px;
      text-align: center;
      margin: auto;
    }
  }
}

.social-share {
  font-size: 1.2em;
  text-align: center;
  & > h2 {
    font-weight: 100;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 0.9em;
  }
  & > ul {
    display: inline-block;
    margin: auto;
    padding: 0px 10px;
    list-style: none;
    font-size: 1em;
    & > li {
      float: left;
      display: inline;
      margin: 5px;
      & > a {
        display: block;
        border-radius: 5px;
        padding: 8px 16px 5px;
        background-color: #FFF;
        opacity: 0.75;
        &:hover {
          text-decoration: none;
          background-color: #FFF;
          opacity: 1.0;
        }
        & > img:first-child {
          padding-right: 5px;
        }
      }
    }
  }
}