---
---
@import url('https://fonts.googleapis.com/css?family=Khula:300,700');
@import "{{ site.theme }}";

.cards {
	text-align: center;
  display: table;
  clear: both;

  .card {
    @media screen and (min-width: 42em) {
      display: table-cell; 
      padding: 1em; 

      &.half {
        width: 50%;
      } 
      &.whole {
      } 
      &.third {
        width: 33.33%;
        width: calc(100% / 3);
      }
    }
    p {
      font-size: 0.75em;
    }
  }
}

#markdown-toc {
  li > ul > li > ul {
    display: none;
  }
  #markdown-toc-table-of-contents {
    display: none;
  }
  & > li:first-child {
    display: none;
  }
}

#introduction {
  display: none;
}

#table-of-contents {
  display: none;
}

body, input, button {
  font-family: "Khula", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-header {
  form {
    margin: -5px auto;
    display: table;
    & > div {
      display: table-row;
      & > input {
        display: table-cell;
        width: 100%;
        margin: 5px 0;
      }
    }
  }
  button.open-popup {
    padding: 8px 100px 0px;
    background-color: $body-link-color;
    color: #FFF;
    border: 1px transparentize($border-color, 0.5) solid;
    font-size: 1.5em;
    border-radius: 5px;
    font-weight: bold;
    img {
      height: 1.5em;
      margin: 5px 20px 0px 5px;
    }
    span {
      margin-top: 10px;
      display: block;
      float: right;
    }
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}

.signup-form-container {
  background-color: $code-bg-color;
  padding: 40px;
  display: table;
  form.signup-form {
    width: 100%;
    display: table-row;
    input {
      display: table-cell;
      margin: 10px;
      padding: 5px 10px;
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
      &[type=email] {
        width: 25em;
      }
    }
  }
}