label.header {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
}

label, text-field, button, navigation-item back-bar-button, navigation-bar *  {
    font-family: "Lato";
    font-weight: 200;
}

pixelate-config {
    parse-error-destination: console;
}

view.startScreens {
    background-color: #FFCB98;
}

view.form {
    border: 1px solid #CCC;
    background-color: #fff;
}

navigation-bar {
}

#registration #emailAddress {
    padding: 0px 20px;
    background-color: #fff;
}
