@import "bourbon";

@mixin hp-opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

$blue: #007AFF;
$yellow: #BEDB00;
$smoke: #eee;
$light-smoke: lighten($smoke, 3%);
$oil: darken($blue, 25%);

html, body {
  background-color: $smoke;
  color: $oil;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  .minimize:before {
    content: '\203E\203E';
  }
  .expand:before {
    content: '+';
  }
  h1, h2 {
    display: inline-block;
    float: left;
  }
    .tiny-button {
      display: inline-block;
      text-decoration: none;
      background-color: $oil;
      color: $light-smoke;
      text-align: center;
      margin: 5px;
      font-size: 0.9em;
      padding: 1px;
      width: 15px;
      &:hover {
        color: $oil;
        background-color: $blue;
      }
    }
  header {
    padding: 10px 30px;
    background-color: $light-smoke;
    margin: 0px;
    width: 100%;
    position: fixed;
    border-bottom: transparentize(darken($oil, 20%), 0.66) solid 2px;
    #version {
      font-size: 0.25em;
      vertical-align: top;
      color: transparentize(darken($oil, 20%), 0.66);
      margin-top: 5px;
      display: inline-block;
      text-decoration: none;
    }
    #filter-expand {
      position: relative;
      top: -5px;
      margin: 0px 10px;
      font-size: 1em;
      background-color: $oil;
      color: $light-smoke;
      border: none;
      @include hp-opacity(0.5);
      &:active,&:focus {
      outline: none;
      border: none;
      }
    }
    &.filter-hidden {
      #filter-expand {
        cursor: pointer;
        @include hp-opacity(1.0);
        &:hover {
          color: $oil;
          background-color: $blue;
        }
      }

    }
    & > div {
      width: auto;
    }
    h1 {
      margin: 0px;
    }
    .tiny-button {
      display: inline-block;
      text-decoration: none;
      background-color: $oil;
      color: $light-smoke;
      text-align: center;
      font-size: 0.33em;
      vertical-align: top;
      padding: 4px;
      /*
      margin: 5px;
      font-size: 0.5em;
      width: 15px;
      height: 15px;
      padding: 1px;
      */
    }
    .logo {
      float: left;
      margin-right: 15px;
      height: 86px;
      width: 86px;
      &.bd {
        position: absolute;
        top: 10px;
        right: 65px;

      }
    }
    #social {
      margin-top: 5px;
      .fb-share-button {
        position: relative;
        top: -3px;
      }
    }
    &.minimized {
      h1 {
        font-size: 0.9em;
      }
      .tag {
        display: none;
      }
      .logo {
        width: 20px;
        height: 20px;
      }
      #social {
        position: absolute;
        top: 5px;
        left: 175px;
      }
      .tiny-button {
        margin: 0px 5px;
        padding: 0px;
        font-size: 1em;
      }
      & + main {
        margin-top: 30px;
        & > #menu {
          display: none;
        }
      }
      #filter-expand {
        display: none;
      }
    }
  }
  footer {
    clear: both;
    margin: 10px 30px;
    a {
      text-decoration: none;
      color: $oil;
      a:hover {
        font-weight: bold;
      }
    }
  }
  main {
    margin-top: 110px;
    display: block;
    clear: both;
    & > div {
      padding: 20px;
      h2 {
        font-size: 0.85em;
        text-decoration: underline;
        font-weight: 300;
      }
      &#data {
        display: block;
        padding: 15px 25px;
        background-color: $light-smoke;
        & > ol {
          list-style: none;
          padding: 5px;
          li {
            .asset {
              font-size: 1.1em;
              font-weight: 300;
              padding-top: 10px;
              margin-bottom: 5px;
            }
            & > ol {
              list-style: none;
              display: table;
              padding: 0px 20px;
              li {
                clear: both;
                display: table-row;
                padding: 5px;
                margin-bottom: 5px;
                input {
                  display: block;
                  float: left;
                  &:checked + label * {
                    text-decoration: line-through;
                    @include hp-opacity(0.5);
                  }
                }
                label {
                  display: block;
                  cursor: pointer;
                  div {
                    display: block;
                    float: left;
                    clear: none;
                    padding-left: 5px;
                    font-size: 0.8em;
                    text-transform: lowercase;
                    height: 1.5em;
                    position: relative;
                    top: 0.15em;
                    &:first-child {
                      padding: 0;
                    }
                    &.specs {
                      color: darken($oil, 20%);
                      font-size: 1em;
                      top: 0em;
                    }
                    .details {
                      font-style: italic;
                    }
                  }
                  ol.devices {
                    display: inline;
                    float: left;
                    list-style: none;
                    clear: none;
                    font-size: 0.75em;
                    width: 100%;
                    li {
                      float: left;
                      display: inline;
                      clear: none;
                      margin: 0;
                      padding: 0;
                      padding-right: 5px;

                    }
                  }
                }
              }
            }
          }
        }
        table {
          max-width: 100%;
          margin: 20px 0px;
          border-collapse: collapse;
          table-layout: fixed;
          td:first-child, th:first-child {
            max-width: 80px;
          }
          td.column-hover, th.column-hover {
            background-color: darken($smoke, 40%);
            color: #FFF;            
          }
          thead {
            tr {
              th {
                padding: 1px 20px 10px;
                font-size: 0.75em;
              }
            }
          }
          tbody {
            tr {
              &.hover {
                background-color: darken($smoke, 40%);
                color: #FFF;
                td {
                  border-color: darken($smoke, 40%);
                }
              }
              td:first-child {
                font-weight: bold;
                border: none;
                padding-right: 20px;
                text-align: right;
                font-size: 0.75em;
                cursor: default;
                a {
                  text-decoration: none;
                  color: $oil;
                  &:hover {
                    color: $blue;
                    @include hp-opacity(1.0);
                    &:after {
                      background-color: #fff;
                    }
                  }
                }
              }
              td:nth-child(2) {
                border-left: none;
              }
              td:last-child{
                border-right: none;
              }
              &.inactive {

                td {
                  display: none;
                  padding: 0px;
                  a, &:after {

                    &:after {
                      content: "+";
                      font-weight: bold;
                      font-size: 1.25em;
                      padding: 2px;
                    }
                    @include hp-opacity(0.5);
                  }
                }
                td:first-child {
                  display: block;
                padding: 5px 20px;
                  visibility: visible;
                }
              }
            }
            tr:first-child {
              td {
                border-top: none;

              }
            }
            tr:last-child {
              td {
                border-bottom: none;
              }
            }
            td {
              padding: 15px;
              font-size: 0.85em;
              margin: 0;
              border: solid darken(#FFF, 10%) 1px;
              text-align: center;
              font-weight: 300;
              &.hover {
                background-color: #333;
                color: #FFF;
              }
              ol {
                list-style: none;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }

      &#menu  {
        display: table;
        width: 100%;
        border-bottom: 2px solid darken($smoke, 20%);
        input[type=checkbox],input[type=radio] {
          display: none;
          & + label, &[disabled] + label {
            color: $blue;
            padding: 10px;
            margin: 5px;
            display: block;
            cursor: pointer;
          }
          &:checked + label.hover {
            background-color: $oil;
          }
          & + label.hover {
            color: $oil;
            background-color: $light-smoke;
          }
          &[disabled] + label {
            @include hp-opacity(0.5);
            color: desaturate($blue, 50%);
          }
          &[name=view] + label {
            color: $yellow;
          }
          &:checked + label {
            background-color: $blue;
            color: $smoke;
          }
          &[name=view]:checked + label {
            color: $smoke;
            background-color: $yellow;
          }
        }
        ol, li {

        }
        & > ol > li {
          border: solid $blue 1px;
          margin: 10px;
          &#views {
            border-color: $yellow;
            clear: both;
            & + li {
              clear: left;
            }
          }
        }
        & > ol {

          display: table-row;
        }
        ol {
          display: block;
          text-indent: none;
          margin: 0;
          clear: both;
          padding: 0;
          float: left;
          li {
            display: block;
            text-indent: none;
            margin: none;
            float: left;

          }
        }
      }
    }
  }
}

