
<div class="row">
  <div class="col-sm-12 col-lg-4">
    <form role="form">
      <div class="form-group">
        <label class="sr-only" for="userName">Username</label>
        <input type="text" class="form-control" id="userName" placeholder="Username">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div id="signup" class="collapse">
      <div class="form-group">
        <label class="sr-only" for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
      </div>
      <div class="form-group">
        <label class="sr-only" for="userName">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="Email Address">
      </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" disabled> Remember
        </label>
      </div>
      <button type="button" class="btn btn-default" id="register">Register</button>
      <button type="button" class="btn btn-default btn-primary" id="signin">Sign in</button>
    </form>
  </div>
</div>