<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2.0.0</key>
	<dict>
		<key>beta</key>
		<integer>7</integer>
		<key>alpha</key>
		<integer>2</integer>
		<key>production</key>
		<integer>11</integer>
	</dict>
</dict>
</plist>
